<h1>Students List</h1>
<a href="{% url 'books:add_student_lab11_part1' %}">Add Student</a>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Address.city</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.address.city}}</td>
            <td>
                <a href="{% url 'books:edit_student_lab11_part1' student.id %}">Edit this student</a> |
                <a href="{% url 'books:delete_student_lab11_part1' student.id %}">Delete this student</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

